# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Allure
/allure-results/
/allure-report/

# Cucumber (see cucumber.json format output)
/cucumber-report.html
/cucumber-report.json
